<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <%- include('menu_top_admin') %>


    <div class="container">
        <h2>Crear Nueva Categoria</h2>
        <form action="/dashboard/categories/add-category" method="POST">
            <label for="name">Nombre de la Categoría:</label>
            <input type="text" name="name" id="name" required>
        
            <label for="description">Descripción:</label>
            <textarea name="description" id="description"></textarea>
        
            <button type="submit" class="btn">Crear Categoría</button>
        </form>
        

        <a href="/dashboard" class="back-link">← Volver al Dashboard</a>
    </div>

</body>
</html>
