<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Newsletter</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <%- include('menu_top_admin') %>


    <div class="container">
        <h2>Crear Newsletter</h2>
        <form action="/dashboard/newsletter/add-newsletter" method="POST">
            <label for="name">Email:</label>
            <input type="email" name="email" id="name" required>                
        
            <button type="submit" class="btn">Crear NEWSLETTER</button>
        </form>
        

        <a href="/dashboard/newsletter" class="back-link">← Volver al Dashboard</a>
    </div>

</body>
</html>
