<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Comentario</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>    <%- include('menu_top_admin') %>


    <div class="container">
        <h2>Añadir Comentario</h2>
        
        <form action="/comments" method="POST">
            <label for="author">Autor:</label>
            <input type="text" id="author" name="author" required>

            <label for="body">Comentario:</label>
            <textarea id="body" name="body" rows="4" required></textarea>

            <label for="postId">Asociar a un Post:</label>
            <select id="postId" name="postId">
                <option value="">-- Seleccionar Post --</option>
                <% posts.forEach(post => { %>
                    <option value="<%= post._id %>"><%= post.title %></option>
                <% }) %>
            </select>

            <button type="submit" class="button">Guardar Comentario</button>
        </form>
    </div>

</body>
</html>
