<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories Dashboard</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <%- include('menu_top_admin') %>


    <!-- Contenido principal -->
    <div class="container">
        <div class="admin-title">
            <h2>Newsletters</h2>
            <a href="/dashboard/newsletter/add-newsletter" class="button">+ Añadir Nueva</a>
        </div>

        <ul class="admin-posts">
            <% data.forEach(newsletter => { %>
                <li>
                    <%= newsletter.email %>
                    <div class="admin-post-controls">
                        <a href="/dashboard/newsletter/edit/<%= newsletter._id %>" class="btn-edit btn" style="color:white;">Editar</a>

                        <form action="/dashboard/newsletter/delete-newsletter/<%= newsletter.email %>?_method=DELETE" method="POST">
                            <input type="submit" value="Eliminar" class="btn-delete btn">
                        </form>
                    </div>
                </li>
            <% }) %>
        </ul>
        
        
    </div>  

</body>
</html>
