<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags Dashboard</title>
</head>
<body>

    <%- include('menu_top_admin') %>


    <div class="container">
        <div class="admin-title">
            <h2>Etiquetas</h2>
            <a href="/dashboard/tags/add-tag" class="button">+ Añadir Nueva</a>
        </div>

        <ul class="admin-posts">
            <% tags.forEach(tag => { %>
                <li>
                    <%= tag.name %>
                    <div class="admin-post-controls">
                        <a href="/dashboard/tags/edit-tag/<%= tag._id %>" class="btn-edit btn">Editar</a>

                        <form action="/dashboard/tags/delete-tag/<%= tag._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn-delete btn" onclick="return confirm('¿Seguro que deseas eliminar esta etiqueta?');">
                                Eliminar
                            </button>
                        </form>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>

</body>
</html>
