<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Categoría</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <%- include('menu_top_admin') %>


    <div class="container">
        <h2>Editar Categoría</h2>
        <form action="/edit-category/<%= category._id %>?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">

            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" value="<%= category.name %>" required>

            <label for="description">Descripción:</label>
            <textarea name="description" id="description"><%= category.description %></textarea>

            <button type="submit" class="btn">Actualizar Categoría</button>
        </form>

        <a href="/dashboard/categories" class="back-link">← Volver a Categorías</a>
    </div>

</body>
</html>
