<nav class="menu-top">
    <div class="logo">
      <ul class="menu">
      <li><a href="/dashboard"><i class="fas fa-cogs"></i> AdminPanel</a></li>
      </ul>
    </div>
    <ul class="menu">
      <li><a href="/dashboard"><i class="fas fa-home"></i> Inicio</a></li>
      <li><a href="/dashboard/categories"><i class="fas fa-comments"></i> Categorias</a></li>
      <li><a href="/dashboard/tags"><i class="fas fa-comments"></i> Tags</a></li>
      <li><a href="/dashboard/newsletter"><i class="fas fa-comments"></i> Newsletter</a></li>
      <li><a href="/dashboard/comments"><i class="fas fa-comments"></i> Comentarios</a></li>
      <li><a href="/dashboard/users"><i class="fas fa-users"></i> Usuarios</a></li>
      <li><a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
    </ul>
  </nav>
  