 <!-- Menú de navegación -->
 <nav>
    <div class="logo"><a href="/dashboard" style="color:white;">Admin Panel</a></div>
    <div class="menu">
        <a href="/dashboard">Inicio</a>
        <a href="/dashboard/categories">Categorías</a>
        <a href="/dashboard/tags">Tags</a>
        <a href="/dashboard/newsletter">Newsletter</a>
        <a href="/dashboard/users">Users</a>
        <a href="/dashboard/comments">Comments</a>
        <a href="/dashboard/logout">Logout</a>
    </div>
</nav>