<ul class="categories">
  <% if (categories.length > 0) { %>
    <% categories.forEach(category => { %>
      <li>
        <a href="/categories/<%= category._id %>">
          <%= category.name %> <span>(<%= category.count %>)</span>
        </a>
      </li>
    <% }) %>
  <% } else { %>
    <li>No hay categorías disponibles</li>
  <% } %>
</ul>
