<form action="" class="d-flex search-form">
    <input type="search" placeholder="Search and press enter ..." aria-label="Search"
        class="form-control me-2">
    <button class="btn btn-default btn-lg" type="submit">
        <i class="icon-magnifier"></i>
    </button>
</form>