<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="widget">
          <h3 class="mb-4">About</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
        </div>
      </div>
      <div class="col-lg-4">
        <h3>Company</h3>
        <ul class="list-unstyled">
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3>Social</h3>
        <ul class="list-unstyled">
          <li><a href="#"><span class="icon-facebook"></span> Facebook</a></li>
          <li><a href="#"><span class="icon-twitter"></span> Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="widget">
          <h3 class="mb-4">About</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
        </div>
      </div>
      <div class="col-lg-4">
        <h3>Company</h3>
        <ul class="list-unstyled">
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3>Social</h3>
        <ul class="list-unstyled">
          <li><a href="#"><span class="icon-facebook"></span> Facebook</a></li>
          <li><a href="#"><span class="icon-twitter"></span> Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
