<form action="/keyword/search" method="POST">
  <div class="form-group">
      <label for="keyword">Palabra clave:</label>
      <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Buscar por palabra clave..." required>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Buscar</button>
</form>