<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                <li><a href="index.html">Homes</a></li>
                <li class="has-children active">
                  <a href="financing.html">Pagess</a>
                  <ul class="dropdown">
                    <li><a href="search-result.html">Search Result</a></li>
                    <li class="active"><a href="blog.html">Blog</a></li>
                    <li><a href="single.html">Blog Single</a></li>
                    <li><a href="category.html">Category</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="#">Menu One</a></li>
                    <li><a href="#">Menu Two</a></li>
                    <li class="has-children">
                      <a href="#">Dropdown</a>
                      <ul class="dropdown">
                        <li><a href="#">Sub Menu One</a></li>
                        <li><a href="#">Sub Menu Two</a></li>
                        <li><a href="#">Sub Menu Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="category.html">Culture</a></li>
                <li><a href="services.html">Business</a></li>
                <li><a href="about.html">Politics</a></li>
              </ul>