<nav class="site-nav">
    <div class="container">
      <div class="menu-bg-wrap">
        <div class="site-navigation">
          <div class="row g-0 align-items-center">
            <div class="col-2">
              <a href="/" class="logo m-0 float-start">Blogy<span class="text-primary">.</span></a>
            </div>
            <div class="col-8 text-center">
              <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                <li><a href="/">Home</a></li>
                <li class="has-children">
                  <a href="#">Pages</a>
                  <ul class="dropdown">
                    <li><a href="/search-result">Search Result</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/single">Blog Single</a></li>
                    <li><a href="/category">Category</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                  </ul>
                </li>
                <li><a href="/category">Culture</a></li>
                <li><a href="/services">Business</a></li>
                <li><a href="/about">Politics</a></li>
              </ul>
            </div>
            <div class="col-2 text-end">
              <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
                <span></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  