<form action="/newsletter" method="POST" class="d-flex search-form">
    <input type="email" name="email" placeholder="Ingresa tu correo y presiona enter..." 
        aria-label="Newsletter" class="form-control me-2" required>
    <button type="submit">Suscribirse</button>
</form>
