<ul>
  <% if (randomPosts.length > 0) { %>
    <% randomPosts.forEach(post => { %>
      <li>
        <a href="/post/<%= post.slug %>">
          <div class="text">
            <h4><%= post.title %></h4>            
          </div>
        </a>
      </li>
    <% }) %>
  <% } else { %>
    <li>No hay artículos disponibles</li>
  <% } %>
</ul>
