<ul>
  <% if (randomPosts.length > 0) { %>
    <% randomPosts.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <div class="text">
            <h4><%= post.title %></h4>
            <div class="post-meta">
              <span class="mr-2"><%= new Date(post.createdAt).toLocaleDateString('es-ES') %></span>
            </div>
          </div>
        </a>
      </li>
    <% }) %>
  <% } else { %>
    <li>No hay artículos disponibles</li>
  <% } %>
</ul>
