<div class="sidebar-box search-form-wrap mb-4">
  <h3 class="heading">Search by title or content</h3>
  <%- include('../partials/keyword_search') %>
  </div>
  <!-- END sidebar-box -->
  <div class="sidebar-box">
    <h3 class="heading">Popular Posts</h3>
    <%- include('../partials/popular') %>
  </div>
  <!-- END sidebar-box -->

  <div class="sidebar-box">
    <h3 class="heading">Categories</h3>
    <%- include('../partials/categories') %>
  </div>
  <!-- END sidebar-box -->

  <div class="sidebar-box">
    <h3 class="heading">Tags</h3>
    <%- include('../partials/tags') %>
  </div>