<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Authorized</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Asegúrate de tener un CSS -->
</head>
<body>
    <div class="container">
        <h1>403</h1>
        </h1>
        <p>Lo sentimos, no esta autorizado</p>
        <a href="/" class="btn">Volver al inicio</a>
    </div>
</body>
</html>
