<form action="/auth/signin" method="POST">
    <label for="usernameOrEmail">Usuario o Email:</label>
    <input type="text" id="usernameOrEmail" name="usernameOrEmail" required>
    
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Iniciar Sesión</button>
  </form>
  