<div class="card shadow-sm p-4"
     style="width: 22rem; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  
  <h2 class="text-center mb-4">Regístrate</h2>
  
  <form action="/auth/register" method="POST">
    
    <div class="mb-3">
      <label for="username" class="form-label">Usuario</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Introduce tu usuario" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Introduce tu email" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Introduce tu contraseña" required>
    </div>

    <div class="d-grid mb-3">
      <button type="submit" class="btn btn-success">Registrarse</button>
    </div>
  </form>

  <div class="text-center">
    <p class="mb-0">¿Ya tienes cuenta? 
      <a href="/auth/signin" class="btn btn-link">Inicia Sesión</a>
    </p>
  </div>

</div>
